body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.car-form {
  margin-bottom: 50px;
}

.input-block {
  margin-bottom: 15px;
}

.input-block .label {
  display: block;
  margin-bottom: 2px;
  text-align: left;
}

.input-block .input {
  width: 100%;
}

.table {
  width: 800px;
}

.table th,
.table td {
  padding: 5px;
  border: 1px solid black;
  text-align: left;
}

.feedback {
  margin-bottom: 15px;
}
.feedback.error {
  color: red;
}
.feedback.success {
  color: green;
}